<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/photo2.jpg);">
        </div>
      </div>
      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h1 class="welcome-msg"> Reset password  </h1>
            <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Secret key ( Check your email )</mat-label>
                    <input matInput formControlName="code" required type="number">
                    <!-- <mat-icon matSuffix>local_post_office</mat-icon> -->
                    <mat-error *ngIf="authForm.get('code')?.hasError('required')">
                      Key is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>New password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="authForm.get('password')?.hasError('required')">
                      New password is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Confirm new password</mat-label>
                    <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="chide = !chide">
                      {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="authForm.get('cpassword')?.hasError('required') " >
                      Confirm Password is required
                    </mat-error>
                    <!-- <mat-error *ngIf="!passwordmatched">
                      Password not matched
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              
              <div class="flex-sb-m w-full  p-b-20">
                <div>
                  <span>Didn't receive code ? Click to   <a routerLink="#">
                      Resend
                    </a></span>
                </div>
              </div>
              <div class="container-auth-form-btn">
                <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                  Save
                </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
  
    </div>
  </div>
  