// to make full width input field glabally 
.example-full-width {
    width: 100%;
 }

 * {
    font-family: "Montserrat", sans-serif;
  }
  
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  